.services-section{
    justify-items: center;
    margin: 3rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 36px;
    max-width: 1240px;
    margin: 0 auto;
}

.servicesContent{
    margin: 2rem;
    display: none;
    justify-items: center;
}

.servicesContent h3{
    margin-top: 5%;
}

.services-name{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    justify-self: center;
    gap: 10px;
}

.servicesLinks{
    border: 1px solid black;
    border-radius: 15px;
    border: none;
    background-color: #ffff;
    font-weight: 600;
}

#consultoria-agil{
    display: block;
}

.services-itens i ,.services-icons{
    font-size: 30px;
    background-color: #000;
    color: #fff;
    padding: 10px;
    border-radius: 100%;
    margin-right: 2vh;
}

.services-icons span{
    align-self: center;
}

.service-title{
    font-weight: 600;
    line-height: 5vh;
}

.service-title{
    font-weight: 600;
    line-height: 5vh;
}

.servicesLinks button :hover{
    background-color: #000;
    color: #ffff;
    opacity: 0.8;
}

.activeServices{
    background-color: #000;
    color: #ffff;
    padding: 10px;
    border-radius: 15px;
    justify-items: center;
}

.servicesContent-itens{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 2.5rem;
    margin: 2% auto 10%;
    text-align: initial;
    padding: 4% 4%;
    border-radius: 15px;
    max-width: 80%;
}

.servicesContent-itens div{
    background-color: #ffff;
    padding: .5rem;
    border-radius: 15px;
}

.services-itens{
    border: solid 2px #0000003c;
}

.material-symbols-outlined {
    font-size: 30px !important; 
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 100,
  'GRAD' 0,
  'opsz' 48,
}
@media (max-width : 1350px){
    .servicesContent-itens{
        grid-template-columns: auto auto;
    }
}

@media (max-width : 850px){
    .servicesContent-itens{
        grid-template-columns: auto;
        max-width: 70%;
    }

}

@media (max-width : 650px){
    .servicesContent-itens{
        max-width: 100%;
    }
}

@media (max-width : 450px){
    .servicesContent-itens{
        width : 300px
    }
    .servicesContent-itens h4{
        font-size: 100%;
    }
    .servicesContent-itens p{
        font-size: 80%;
    }
}