<form action="/stacks" class="trabalheConosco" method="post">
    <div class="form">
        <label for="Stack">Stack</label>
        <input type="text" name="Stack" id="" placeholder="digite uma stack">

        <input type="submit" value="criar">
    </div>

</form>