<form action="/trabalhe-conosco" class="trabalheConosco" method="post">

    <div class="form">
        <label for="name">Nome</label>
        <input required class="w3-input w3-border" type="text" name="name" id="" placeholder="digite seu nome completo">

        <label for="telefone"> Telefone </label>
        <input required class="w3-input w3-border" name="telefone" placeholder="(xx) 9xxxx-xxxx" type="text">

        <label for="email">Email</label>
        <input required class="w3-input w3-border" name="email" type="email" placeholder="digite o seu email profissional">

        <label for="linkedin">Linkedin</label>
        <input required class="w3-input w3-border" name="linkedin" type="text" placeholder="digite o link do seu perfil no linkedin">

        <label for="periodo">Periodo</label>
        <input required class="w3-input w3-border" name="periodo" type="number" placeholder="digite o seu período atual!">

        <label for="tecnologias">Tecnologias</label>
        <textarea class="w3-input w3-border" id="" name="tecnologias"
            placeholder="Digite aqui as principais stacks que você domina!"></textarea>

        <input class="w3-button w3-black form-button" type="submit" value="enviar">
    </div>

</form>