<form action="/trabalhe-aqui" class="trabalheConosco" method="post">
    <div class="form">
        <label for="name">Nome</label>
        <input type="text" name="name" id="" placeholder="digite seu nome completo">

        <label for="telefone"></label>
        <input name="telefone" type="number">

        <label for="email">email</label>
        <input name="email" type="email">

        <label for="periodo">periodo</label>
        <input name="periodo" type="number">

        <label for="tecnologias">tecnologias</label>
        <input name="tecnologias" type="text">

        <input type="submit" value="criar">
    </div>

</form>